body{
    height: 100%;
    margin: 0;
}


.skip {
    /* display: inline; */
    color: #ff7700;
    opacity: 0;
}

 
p{
    margin-top: 3px;
} 

/* Show the link when it's being hovered over */
.skip:hover {
    /* display: inline; */
    color: #ff7700;
    text-decoration: none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    opacity: 1;
} 



/* Navigation Styles */
nav {
    display:grid;
    background-color: #003402;
    padding: 5px; /* Adjusted padding for better visibility */
    margin-bottom: 20px;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


nav li {
    margin-right: 1%;
    margin-left: 1%;
}

nav a {
    /* color: #fff; */
    color: #d3f4dd;

    text-decoration: none;
    padding: 0.3em 1.5em;
    border-radius: 5px;
    font-size: 140%;
    transition: background-color 0.3s;
}

nav a:hover {
        /* background-color: #256a3a; */
        background-color: #209618;
        color: rgb(255, 255, 255);
}


/* Other existing styles for header, main, and footer if needed */
header {
    background-color: #003402;
    color: #fff;
    padding: 1em;
    text-align: center;
}


#park_info{
    font-size: 2em;
}

#info_list
{
    padding-left: 30px; 
    padding-right: 30px;

}



#bg, #map{
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    display: block;
}

main {
    padding: 1em;
}

#main h2{
    font-size: 2.5em;
}

#main h3{
    font-size: 1.5em;
}



footer {
    background-color: #003402;    ;
    color: #ff8000;
    padding: 1em;
    text-align: center;
}

#title{
    display: inline-block;
    color: #ffffff;
    font-size: 4em;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 35px;
    margin-top: 0px;
    background-color: #0e451f;

    /* background-color: #ff7700; */
    border-color: #ff8000;
    border-width: 8px;
    border-radius: 10px;
    border-style:ridge
}

#Page{
    /* background-color: #256a3a; */
    background-color: #ff7700;
    color: #003402;
    /* color: rgb(255, 255, 255); */
    font-weight: bold;
}


.photos img{

    width: 100%;
    height: 100%;
    max-width: 1600px;
    min-height: 200px;
    min-width: 300px;

}

.photos{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 12px;
    padding: 2%;
    margin: 0 auto; /* Added to center the grid on the page */
}



.item {
    background-color: lightblue;
    padding: 0px;
}


.photos :nth-child(odd) .item {
    border: 6px solid #ff8a23;
}

.photos :nth-child(even) .item {
    border: 6px solid #209618;
}


.amenities{
    display: inline-block;
    gap: 10px;
    text-align: center;
    margin-bottom: 100px;
}


.amenities img{
    padding-top: 100px;
    width: 600px;
    height: 400px;
    object-fit: cover;
}


/* image description */
.desc{
    padding-top: 10px;
    text-align: center;
    font-size: 1500%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 100, 100);
}

ol{
    font-size: 27px;
    list-style:decimal
}

#sub_list{
    font-size: 0.9em;
    list-style: circle;
}

li{
    padding-top: 5px;
}

#park_amenities
{
    display: block;
    text-align: center;
    padding-top: 40px;

}


#reference_list{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
}

#reference_list h2{
    text-align: center;
    font-size: 2.5em;

}

.link{
    font-size: 0.85em;
    font-family:sans-serif;
    text-decoration: none;
}
