h1{
    color:rgb(255, 255, 255);
    background: #adadad;
    font-family: serif;
    text-align: center;
    margin-bottom: 1px;
}

header{
    background: #666666;
    text-align: center;
}

h2{
    color:rgb(0, 0, 0);
    background: #24d4f3;
    text-indent: 12px;

}

body{
    font-size: 95%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}



nav{
    background: #636363;
    font-variant: small-caps;
    font-family: Arial, "Time New Roman", serif;
    font-size: 120%;
    text-align: center;
}

p{
    text-indent: 12px;
}

progress{

    text-indent: 12px;

}

summary{
    font-style: normal;
    text-indent: 12px;
}

details{
    font-style: italic;
}

footer{
    background: #666666;
}
