
#skip {
    display: inline;
    color: #003402;   
}

p{
    margin-top: 3px;
}

/* Show the link when it's being hovered over */
#skip:hover {
    display: inline;
    color: #ff7700;
    text-decoration: none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
}


/* Navigation Styles */
nav {
    display:grid;
    background-color: #003402;
    padding: 5px; /* Adjusted padding for better visibility */
    margin-bottom: 20px;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


nav li {
    margin-right: 1%;
    margin-left: 1%;
}

nav a {
    /* color: #fff; */
    color: #d3f4dd;

    text-decoration: none;
    padding: 0.3em 1.5em;
    border-radius: 5px;
    font-size: 140%;
    transition: background-color 0.3s;

    &:hover {
        /* background-color: #256a3a; */
        background-color: #ff7700;
        color: rgb(255, 255, 255);
    }
}

/* Other existing styles for header, main, and footer if needed */
header {
    background-color: #003402;
    color: #fff;
    padding: 1em;
    text-align: center;
}

#bg, #map{
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    display: block;
}

main {
    padding: 1em;
}

#main h2{
    font-size: 2.5em;
}

#main h3{
    font-size: 1.5em;
}



footer {
    background-color: #003402;    ;
    color: #ff8000;
    padding: 1em;
    text-align: center;
}

#title{
    display: inline-block;
    color: #ffffff;
    font-size: 4em;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 35px;
    margin-top: 0px;
    background-color: #0e451f;

    /* background-color: #ff7700; */
    border-color: #ff8000;
    border-width: 8px;
    border-radius: 10px;
    border-style:ridge
}

#Page{
    /* background-color: #256a3a; */
    background-color: #ff7700;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.image{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
}

.image img{
    width: 580px;
    height: 350px;
    object-fit: cover;

}


.amenities{
    display: inline-block;
    gap: 10px;
    text-align: center;
    margin-bottom: 100px;
}


.amenities img{
    padding-top: 100px;
    width: 600px;
    height: 400px;
    object-fit: cover;
}


/* image description */
.desc{
    padding-top: 10px;
    text-align: center;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif
}

ol{
    font-size: 27px;
    list-style:decimal
}

#aam{
    font-size: 0.9em;
    font-style: italic;
    list-style: circle;
}

li{
    padding-top: 5px;
}

#park_amenities
{
    display: block;
    text-align: center;
    padding-top: 40px;

}


#reference_list{
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 5%;
}

#reference_list h2{
    text-align: center;

}
